@model List<Dvdteka.Models.RentViewModel>

@{
    ViewData["Title"] = "Posudbe";
}

<h1>Posudbe</h1>

<form>
    <div class="input-group mb-3">
        <input type="text" name="memberName" class="form-control" value="@ViewBag.memberName" placeholder="Traži po članu..." />
        <input type="text" name="dvdName" class="form-control" value="@ViewBag.dvdName" placeholder="Traži po dvd-u"/>
        <div class="input-group-append">
            <input type="submit" value="Traži" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>

<form asp-action="ReturnMany" method="post">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    DvdName
                </th>
                <th>
                    MemberName
                </th>
                <th>
                    RentTime
                </th>
                <th>
                    ReturnTime
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        <div class="form-check">
                            <input type="hidden" asp-for="@Model[i].Id" />
                            <input type="hidden" asp-for="@Model[i].DvdName" />
                            <input type="hidden" asp-for="@Model[i].MemberName" />
                            <input type="hidden" asp-for="@Model[i].MemberId" />
                            <input type="hidden" asp-for="@Model[i].RentTime" />

                            <input asp-for="@Model[i].Returning" type="checkbox" class="form-check-input">
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].DvdName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].MemberName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].RentTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].ReturnTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].Price)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@Model[i].Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@Model[i].Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@Model[i].Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="justify-content-end">
        <input type="submit" name="save" value="Spremi" class="btn btn-success" />
    </div>
</form>
