@model IEnumerable<Dvdteka.Data.Rent>

@{
    ViewData["Title"] = "Posudbe";
}

<h1>Posudbe</h1>

<form>
    <div class="input-group mb-3">
        <input type="text" name="memberName" class="form-control" value="@ViewBag.memberName" placeholder="Traži po članu..." />
        <input type="text" name="dvdName" class="form-control" value="@ViewBag.dvdName" placeholder="Traži po dvd-u"/>
        <div class="input-group-append">
            <input type="submit" value="Traži" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dvd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dvd.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
