@model Dvdteka.Models.ReturnManyViewModel

@{
    ViewData["Title"] = "Povrat";
}

<h1>Povrat</h1>

<form asp-action="SaveReturnMany" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="ReturnTime" class="form-control" />

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    DvdName
                </th>
                <th>
                    MemberName
                </th>
                <th>
                    RentTime
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Rents.Count(); i++)
            {
                <tr>
                    <td>
                        <div class="form-check">
                            <input type="hidden" asp-for="@Model.Rents[i].Id" />
                            <input type="hidden" asp-for="@Model.Rents[i].RentTime" />
                            <input asp-for="@Model.Rents[i].Returning" type="checkbox" class="form-check-input">
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Rents[i].DvdName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Rents[i].MemberName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Rents[i].RentTime)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col col-12 justify-content-end">
        @if (!ViewBag.error)
        {
            <input type="submit" name="save" value="Spremi" class="btn btn-success" />
        }
    </div>
</form>

