<a asp-action="Index"
   asp-route-page="@ViewBag.page"
   asp-route-searchByGenre="@ViewBag.searchByGenre"
   asp-route-searchByDirector="@ViewBag.searchByDirector"
   asp-route-searchByName="@ViewBag.searchByName"
   asp-route-searchByYear="@ViewBag.searchByYear"
    asp-route-pageSize="@ViewBag.pageSize"
   asp-route-sortBy="@ViewBag.Name"
   asp-route-sort="@(ViewBag.sort == "asc" ? "desc" : "asc")">
    @ViewBag.DisplayNameFor
</a>

@if (ViewBag.sort == "asc" && ViewBag.sortBy == ViewBag.Name)
{
    <span>&#x25B2;</span>
}
@if (ViewBag.sort == "desc" && ViewBag.sortBy == ViewBag.Name)
{
    <span>&#x25BC;</span>
}
