@model Dvdteka.Models.DvdViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dvd</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreName)
        </dd>
    </dl>
</div>

<div>
    <h2>Otvorene posudbe za @Model.Name</h2>
    <table class="table table-bordered table-hover table-info">
        <thead>
            <tr>
                <th>Član</th>
                <th>Vrijeme posudbe</th>
                <th>Dana posudjen</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OpenedRents)
            {
                <tr>
                    <td>@item.MemberName</td>
                    <td>@item.RentTime</td>
                    <td class="@(item.DaysRented > 10 ? "rent-warning" : "" )">@item.DaysRented</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
