@model IEnumerable<Dvdteka.Data.Dvd>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" >
    <div class="input-group mb-3">
        <input name="searchByName" value="@ViewBag.searchByName" type="text" class="form-control" placeholder="Tražilica po nazivu..." aria-label="Tražilica..." aria-describedby="basic-addon2">
        <input name="searchByDirector" value="@ViewBag.searchByDirector" type="text" class="form-control" placeholder="Tražilica po režiseru..." aria-label="Tražilica..." aria-describedby="basic-addon2">
        <input name="searchByGenre" value="@ViewBag.searchByGenre" type="text" class="form-control" placeholder="Tražilica po žanru..." aria-label="Tražilica..." aria-describedby="basic-addon2">
        <div class="input-group-append">
            <input type="submit" value="Traži" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Create" asp-controller="Rents" asp-route-id="@item.Id">Izdaj</a>
            </td>
        </tr>
}
    </tbody>
</table>
